body {
    box-sizing: border-box;
}

.pomodoro-clock-container {
    margin-top: 500px;
    margin-left: 500px;

    .timer-input {

    }

    .start-timer {

    }

    .stop-timer {

    }

    .timer-current {

    }
}
